.container_1 {
    background-color: indigo;
    text-align: center;
    padding : 30px;
}

.container_2 {
    background-color: peru;
    text-align: center;
    padding: 20px 150px 20px 150px;
}

.container_3 {
    background-color: brown;
    text-align: center;
    padding : 30px;
}

#first {
    font-family: "Gugi";
    color: green;
}

#lefted {
    text-align: left;
}

#second {
    color: royalblue;
}

#profilepic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

#mybutton {

    width:100px;

    background-color:  blueviolet;

    padding: 5px 25px;

    border: none;

    color:#fff;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 10px;

    cursor: pointer;

    border-radius:10px;

}

#linkSNS {
    color:#fff;
    text-decoration: none;
}